<h1>Search</h1>

<br>
<h3>FOOD</h3>
<%= form_tag(foods_path, method: :get) do %>
	<%= text_field_tag :name, params[:name], placeholder: "Name" %>
	<%= text_field_tag :desc, params[:desc], placeholder: "Description" %>
	<%= text_field_tag :min,  params[:min],  placeholder: "Minimum Price" %>
	<%= text_field_tag :max,  params[:max],  placeholder: "Maximum Price" %>
	<%= submit_tag 'Search Food', name: nil %>
<% end %>

<br>
<h3>ORDER</h3>
<%= form_tag(orders_path, method: :get) do %>
	<%= text_field_tag :name,    params[:name],    placeholder: "Name" %>
	<%= text_field_tag :addr,    params[:addr],    placeholder: "Address" %>
	<%= text_field_tag :email,   params[:email],   placeholder: "Email" %>
	<%= text_field_tag :payment, params[:payment], placeholder: "Payment Type" %>
	<%= text_field_tag :min,     params[:min],     placeholder: "Minimum Total Price" %>
	<%= text_field_tag :max,     params[:max],     placeholder: "Maximum Total Price" %>
	<%= submit_tag 'Search Order', name: nil %>
<% end %>

<br>
<h3>RESTAURANT</h3>
<%= form_tag(restaurants_path, method: :get) do %>
	<%= text_field_tag :name, params[:name], placeholder: "Name" %>
	<%= text_field_tag :addr, params[:addr], placeholder: "Address" %>
	<%= text_field_tag :min,  params[:min],  placeholder: "Minimum Food Count" %>
	<%= text_field_tag :max,  params[:max],  placeholder: "Maximum Food Count" %>
	<%= submit_tag 'Search Restaurant', name: nil %>
<% end %>