<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <% @users.each do |user| %>
    <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
      <td>
        <%= image_tag(user.image_url, class: 'list_image') unless user.image_url.blank? %>
      </td>
      <td class="list_description">
        <dl>
          <dt><%= user.name %></dt>
          <dd><%= truncate(strip_tags(user.description), length: 80) %></dd>
          <dd>Category: <%= user.category.try(:name) %></dd>
        </dl>
      </td>
      <td class="list_action">
        <%= link_to 'Show', user %><br>
        <%= link_to 'Edit', edit_user_path(user) %><br>
        <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
  <% end %>
</table>

<br>

<%= link_to 'New User', new_user_path %>