<p id="notice"><%= notice %></p>

<h1>Detailed View</h1>

<br>

<table>
    <tr>
      <td align="right"><strong>Order ID :</strong></td>
      <td><%= @order.id %></td>
    </tr>
    <tr>
      <td align="right"><strong>Name :</strong></td>
      <td><%= @order.name %></td>
    </tr>
    <tr>
      <td align="right"><strong>Address :</strong></td>
      <td><%= @order.address %></td>
    </tr>
    <tr>
      <td align="right"><strong>Email :</strong></td>
      <td><%= @order.email %></td>
    </tr>
    <tr>
      <td align="right"><strong>Payment Type :</strong></td>
      <td><%= @order.payment_type %></td>
    </tr>
    <tr>
      <td align="right"><strong>Voucher :</strong></td>
      <td><%= @order.voucher.try(:code) do
        
      end %></td>
    </tr>
</table>

<br>

<table>
  <tr>
   <th width="120px">Item</th>
   <th width="40px">Quantity</th>
   <th width="120px">Price</th>
   <th width="120px">Sub Total</th>
 </tr>
  <% @order.line_items.each do |item| %>
    <tr class="<%= cycle('list_line_odd', 'list_line_even') %>" align="center">
      <td><%= item.food.name %></td>
      <td><%= item.quantity %></td>
      <td><%= number_to_currency(item.food.price, unit: "Rp", delimiter: ".", separator: ",") %></td>
      <td align="left"><%= number_to_currency(item.total_price, unit: "Rp", delimiter: ".", separator: ",") %></td>
    </tr>
  <% end %>
  <tr><td></td></tr>
  <tr>
    <td></td>
    <td></td>
    <td align="right"><strong>Total Price :</strong></td>
    <td><%= number_to_currency(@order.total_price, unit: "Rp", delimiter: ".", separator: ",") %></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td align="right"><strong>Discount :</strong></td>
    <td><%= number_to_currency(@order.discount, unit: "Rp", delimiter: ".", separator: ",") %></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td align="right"><strong>Final Price :</strong></td>
    <td><%= number_to_currency(@order.final_price, unit: "Rp", delimiter: ".", separator: ",") %></td>
  </tr>
</table>

<%= link_to 'Back', orders_path %>