<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @food.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @food.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= @food.category.name unless @food.category.blank? %>
</p>

<p>
  <strong>Tag:</strong>
  <% @food.tags.each do |tag| %>
    <%= tag.name %>,
  <% end %>
</p>

<p>
  <strong>Restaurant:</strong>
  <%= @food.restaurant.name %>
</p>

<p>
  <strong>Image URL:</strong>
  <%= @food.image_url %>
</p>

<p>
  <strong>Price:</strong>
  <%= @food.price %>
</p>

<p>
  <strong>Review:</strong>
  <% @food.reviews.each do |review| %>
    Name: <%= review.reviewer %>,
    Title: <%= review.title %>,
    Review: <%= review.description %>.
  <% end %>
</p>

<%= link_to 'Edit', edit_food_path(@food) %> |
<%= link_to 'Back', foods_path %>