<p id="notice"><%= notice %></p>

<h1>Buyers</h1>

<table>
  <% @buyers.each do |buyer| %>
    <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
      <td><%= buyer.email %></td>
      <td><%= buyer.name %></td>
      <td><%= buyer.phone %></td>
      <td><%= buyer.address %></td>
      <td class="list_action">
        <%= link_to 'Show', buyer %><br>
        <%= link_to 'Edit', edit_buyer_path(buyer) %><br>
        <%= link_to 'Destroy', buyer, method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
  <% end %>
</table>

<br>

<%= link_to 'New Buyer', new_buyer_path %>
