<p id="notice"><%= notice %></p>

<h1>Your Food Catalog</h1>

<% @food_list.each do |restaurant, foods| %>
  <h2><%= link_to restaurant.name, restaurant_path(restaurant.id) %></h2> 
  <%= link_to 'Write Review', new_restaurant_review_path(restaurant.id) %>
  <% foods.each do |food| %>
    <div class="entry">
      <%= image_tag(food.image_url) unless food.image_url.blank? %> 
      <h3><%= link_to food.name, food_path(food.id) %></h3>
      <%= link_to 'Write Review', new_food_review_path(food.id) %>
      <%= sanitize(food.description) %>
      <div class="price_line">
        <span class="price">
          <%= number_to_currency(food.price, unit: "Rp ", delimiter: ".", separator: ",") %>
          <%= button_to 'Add to Cart', line_items_path(food_id: food), remote: true %>
        </span>
      </div>
    </div>
  <% end %> 
<% end %>